<div class="container">

<h1>수정</h1>

<form action="/a_update/<%= @one_post.id %>" method="POST">

    <div class="form-group">
        <input type="text" class="form-control" name="title" placeholder="<%= @one_post.title %>" value=<%= @one_post.title %>>
       
    </div>
    
    <div class="form-group">
        <input type="text" class="form-control" name="amount" placeholder="<%= @one_post.amount %>" value=<%= @one_post.amount %> >
    </div>
    
    <div class="form-group">
        <textarea class='form-control' name="content" placeholder="<%= @one_post.content %>" rows="10"><%= @one_post.content %></textarea>
    </div>
    
    <button type="submit">수정하기</button>
</form>
    
    
</form>
</div>