<h1>인생영화 기록하기</h1>
<% @every_post.each do |p| %>
이름: <%= p.title %><br>
장르: <%= p. genre %><br>
내용: <%= p. content %><br>
    <a href="/b_update_view/<%= p.id %>">[수정]</a>
    <a href="/b_destroy/<%= p.id %>">[삭제]</a>
<hr>
<% end %>
<h2><a href="/">다시 글쓰기</a> </h2>
